name: deploy-docusaurus

on:
  push:
    branches: [wiki]
  pull_request:
    branches: [wiki]
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
      - name: Set up Node
        uses: actions/setup-node@v2
        with:
          node-version: "17"
      - name: Build Docusaurus
        run: |
          npm install 
          npm run build
#          cp -r docs/** i18n/fr/docusaurus-plugin-content-docs/current
#          cp -r docs/** i18n/en/docusaurus-plugin-content-docs/current
      - name: Deploy to GitHub Pages
        if: success()
        uses: crazy-max/ghaction-github-pages@v2
        with:
          target_branch: gh-pages
          build_dir: build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
